[Unit]
Description=Nginx Reverse proxy Docker
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a "nginx-reverseproxy-dockerfile"
ExecStop=/usr/bin/docker stop --time=1 "nginx-reverseproxy-dockerfile"

[Install]
WantedBy=multi-user.target